---
import Layout from '../../layouts/Layout.astro';

interface Props {
  post: any
}

export async function getStaticPaths({ paginate }) {
  const data = await fetch('http://localhost:3000/api/blogpost-list').then((response) => response.json())

  return data.map((post) => {
    return {
      params: { blogpostid: post._id },
      props: { post },
    }
  })
}

const { blogpostid } = Astro.params;

const comments = await fetch(`http://localhost:3000/api/comment/${blogpostid}`).then((response) => response.json());

const { post } = Astro.props;
---

<Layout title="blogpost">
  <p>{post.title}</p>
  <p>{post.author.username}</p>
  <p>{post.content}</p>
  <p>{post.timestamp}</p>
  <div></div>
  <div>{comments.map((e) => <p>{e.author}</p> <p>{e.content}</p>)}</div>
</Layout>

<style>
</style>

<script>
</script>