---
import Layout from '../layouts/Layout.astro';
import BlogpostPreview from '../components/BlogpostPreview.astro';

interface Props {
  post: any,
  page: any,
}

export async function getStaticPaths({ paginate }) {
  const data = await fetch('http://localhost:3000/api/blogpost-list').then((response) => response.json())

  const processed = data.map((post) => {
    return {
      params: { blogpostid: post._id },
      props: { post },
    }
  })
  return paginate(processed, {pageSize : 2})
}

const { blogpostid } = Astro.params;
const { page } = Astro.props;
---

<Layout title="blogpost">
  <h1>Blog Title Placeholder</h1>
  <div class="blogposts-wrapper">
  {page.data.map((e) => 
    <BlogpostPreview 
      id={e.props.post._id} 
      title={e.props.post.title} 
      content={e.props.post.content} 
      timestamp={e.props.post.timestamp} 
      author={e.props.post.author.username} 
      commentCount={e.props.post.commentCount}>
    </BlogpostPreview>)}
  </div>
  <nav>
    {page.url.prev &&<a href={page.url.prev}>Previous page</a>}
    {page.url.next &&<a href={page.url.next}>Next page</a>}
  </nav>
</Layout>

<style>
  .blogposts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  nav {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    gap: 5rem;
  }
</style>

<script>
</script>