---
interface Props {
	id: string;
	title: string;
	content: string;
  timestamp: Date;
  author: string;
  editedTimestamp?: any;
}

const { id, title, content, timestamp, author, editedTimestamp = false } = Astro.props;
---

<article class="blogpost-preview">
  <h2>{title}</h2>
  <div class="wrapper">
    <address>Author: {author}</address>
    <time datetime={timestamp.toString()}>Posted: {timestamp.toString()}</time>
    {editedTimestamp && <time datetime={editedTimestamp.toString()}>Last edited: {editedTimestamp.toString()}</time>}
  </div>
  <p>{content}</p>
	<a href={`/posts/${id}`}>View full post</a>
</article>

<style>
  article {
    margin-inline: auto;
    width: min(75dvw, 70ch);
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    line-height: 1.5em
  }
  address {
    font-style: normal;
  }
  .wrapper::after{
    content: '';
    height: 1px;
    width: 40%;
    border-top: 1px solid black;
  }
  a {
    align-self: flex-end;
  }
</style>